.movil{
    display: block;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    text-decoration: none;
    flex: 1;
    text-align: center;
    color: white;
}

.buttonMenu{
    padding: 20px;
    cursor: pointer;
    background-color: transparent;
    border: none;
    color: white;
    font-size: 16px;
}

.buttonMenu svg{
    fill: red;
}

@media screen and (min-width: 515px) {
    .movil{
        display: none;
    }
}